@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes page-in {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-page-in {
  animation: page-in 300ms ease-out both;
}

/* Estilo básico de la barra de desplazamiento */
:root {
  --scrollbar-color: #059669;
  /* Color por defecto */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 5px;
}

/* Cambiar el color del pulgar al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color);
}

/* Quitar los botones de incremento y decremento de los input tipo número */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Agregar animación a la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  transition: background-color 5s ease-in-out;
}

.about-me-container::-webkit-scrollbar {
  width: 6px;
}

/* Mobile Layout */
.mobile-layout {
  display: none;
  /* Initially hide mobile layout */
}

/* Desktop Layout */
.desktop-layout {
  display: none;
  /* Initially hide desktop layout */
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .mobile-layout {
    display: block;
    /* Show mobile layout */
  }

  .desktop-layout {
    display: none;
    /* Hide desktop layout on mobile devices */
  }
}

/* Media Query for Desktop Devices */
@media only screen and (min-width: 769px) {
  .mobile-layout {
    display: none;
    /* Hide mobile layout on desktop devices */
  }

  .desktop-layout {
    display: block;
    /* Show desktop layout */
  }
}
